<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Head -->
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex, nofollow">

    <meta name="color-scheme" content="light only">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Santillan ❤️ Arevalo</title>
    <!-- Listado de css con version dinamica segun modificacion de archivo -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/slick.css">
    <link rel="stylesheet" href="/public/css/slick-theme.css">
    <link rel="stylesheet" href="/public/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/public/css/addEvent.css">
    <link rel="stylesheet" href="/public/css/aos.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!-- Color para navegadores moviles -->
    <meta name="theme-color" content="#AF8566">


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <script src="https://kit.fontawesome.com/f4d1904851.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Parisienne&amp;family=Playfair+Display:wght@400;700&amp;display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">



    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/faviconit/favicon.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 64x64" href="/public/img/faviconit/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/public/img/faviconit/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/public/img/faviconit/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/img/faviconit/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/public/img/faviconit/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/faviconit/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/faviconit/favicon-16.png">
    <link rel="apple-touch-icon" href="/public/img/faviconit/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/faviconit/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/faviconit/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/img/faviconit/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/img/faviconit/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/img/faviconit/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/faviconit/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/img/faviconit/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/faviconit/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/public/img/faviconit/favicon-144.png">
    <meta name="msapplication-config" content="/public/img/galeria/browserconfig.xml">
    <style type="text/css" id="ate_helper_css">
        .addeventatc_dropdown .drop_markup {
            background-color: #f4f4f4;
        }

        .addeventatc_dropdown .frs a {
            margin: 0 !important;
            padding: 0 !important;
            font-style: normal !important;
            font-weight: normal !important;
            line-height: 110% !important;
            background-color: #fff !important;
            text-decoration: none;
            font-size: 9px !important;
            color: #cacaca !important;
            display: inline-block;
        }

        .addeventatc_dropdown .frs a:hover {
            color: #999 !important;
        }

        section.portada .portada-picture::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(162, 118, 64, 0.126) !important;
            z-index: 0;
            top: 0;
            left: 0;
        }

        .addeventatc .start,
        .addeventatc .end,
        .addeventatc .timezone,
        .addeventatc .title,
        .addeventatc .description,
        .addeventatc .location,
        .addeventatc .organizer,
        .addeventatc .organizer_email,
        .addeventatc .facebook_event,
        .addeventatc .all_day_event,
        .addeventatc .date_format,
        .addeventatc .alarm_reminder,
        .addeventatc .recurring,
        .addeventatc .attendees,
        .addeventatc .client,
        .addeventatc .calname,
        .addeventatc .uid,
        .addeventatc .sequence,
        .addeventatc .status,
        .addeventatc .method,
        .addeventatc .transp {
            display: none !important;
        }
    </style>



</head>

<body cz-shortcut-listen="true" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

    <audio autoplay loop id="musicMP3" data-evento="play">
        <source src="/public/mp3/instrumental.mp3" type="audio/mpeg">
    </audio>

    <!-- Loader -->
    <!-- START PRELOADER AREA-->
    <div class="preloader-area" style="display: none;">

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="loader" style="display: none;"></div>
        </div>

    </div>
    <!-- END PRELOADER AREA -->

    <!-- Portada -->
    <section class="portada">

        <div class="d-md-flex">

            <!-- Imagen portada -->
            <div class="portada-picture"
                style="background-image: url(&quot;/public/img/galeria/imagen5.jpeg&quot;); background-size: cover; background-position: center;">
            </div>

            <!-- Contenido portada -->
            <div class="portada-container d-flex justify-content-center align-items-center">


                <div class="portada-container-2">



                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo01_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo01_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-down" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo01_A.png" alt=""
                            loading="lazy">
                    </picture>

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo01_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo01_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-down" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo01_B.png" alt=""
                            loading="lazy">
                    </picture>

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo01_C.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo01_C.png">
                        <img class="adorno adorno-3 aos-init aos-animate" data-aos="fade-down" data-aos-delay="500"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo01_C.png" alt=""
                            loading="lazy">
                    </picture>

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo01_D.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo01_D.png">
                        <img class="adorno adorno-4 aos-init aos-animate" data-aos="fade-down" data-aos-delay="600"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo01_D.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="row d-flex justify-content-center align-items-center">


                        <div class="content-portada text-center">

                            <!-- Idiomas -->



                            <div class="box-nombres-fecha-portada">

                                <span class="fecha">
                                    24.02.2024 </span>

                                <h1>Santillán</h1>
                                <span class="icono"><i class="fas fa-heart" style="color: #faf7f3;"></i></span>
                                <h1>Arévalo</h1>

                            </div>

                            <div class="box-frase-portada">
                                <p>
                                    <img src="/public/img/comilla-apertura.svg" alt="">

                                    El mejor tipo de amor es el que despierta el alma y nos hace aspirar a más. Que enciende fuego en nuestros corazones y nos trae paz a la mente

                                    <img src="/public/img/comilla-cierre.svg" alt="">
                                </p>
                            </div>

                        </div>

                    </div>

                </div>



            </div>

        </div>




    </section>
    <!-- Cuenta Regresiva -->
    <section class="cuenta-regresiva">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">

                <div class="box-aros d-flex justify-content-center align-items-center">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_contador.webp">
                        <source type="image/png" srcset="/public/img/flores_contador.png">
                        <img class="adorno adorno-1" src="/public/img/flores_contador.png" alt="">
                    </picture>


                    <div class="box-circulo text-center">

                        <span class="falta">Falta</span>

                        <div id="reloj" class="reloj">

                            <div id="dias" class="reloj-col">
                                <span class="number">00</span>
                                <span class="time">días</span>
                            </div>

                            <div id="horas" class="reloj-col">
                                <span class="number">00</span>
                                <span class="time">hs</span>
                            </div>

                            <div id="minutos" class="reloj-col">
                                <span class="number">00</span>
                                <span class="time">min</span>
                            </div>

                            <div id="segundos" class="reloj-col no-border">
                                <span class="number">00</span>
                                <span class="time">seg</span>
                            </div>

                            <div class="clearfix"></div>

                        </div>


                        <div class="d-flex justify-content-center align-items-center">

                            <!-- Corazon -->
                            <div class="corazon-falta"></div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Ceremonia - Fiesta-->
    <section class="ceremonia-fiesta">



        <picture>
            <source type="image/webp" srcset="/public/img/flores_Grupo02_A.webp">
            <source type="image/png" srcset="/public/img/flores_Grupo02_A.png">
            <img class="adorno adorno-1 aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
                data-aos-once="false" src="/public/img/flores_Grupo02_A.png" alt="" loading="lazy">
        </picture>


        <picture>
            <source type="image/webp" srcset="/public/img/flores_Grupo02_B.webp">
            <source type="image/png" srcset="/public/img/flores_Grupo02_B.png">
            <img class="adorno adorno-2 aos-init" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000"
                data-aos-once="false" src="/public/img/flores_Grupo02_B.png" alt="" loading="lazy">
        </picture>


        <picture>
            <source type="image/webp" srcset="/public/img/flores_Grupo02_C.webp">
            <source type="image/png" srcset="/public/img/flores_Grupo02_C.png">
            <img class="adorno adorno-3 aos-init" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000"
                data-aos-once="false" src="/public/img/flores_Grupo02_C.png" alt="" loading="lazy">
        </picture>




        <div class="container">
            <div class="row">

                <div class="col-md-6 col-ceremonia text-center">

                    <div class="anim-anillos"></div>

                    <br>

                    <h3>
                        Ceremonia </h3>

                    <div class="info-col">

                        <div class="info-box">
                            <h6>Día</h6>
                            <p>Sábado 24 de Febrero - 21:00hs</p>
                            <a href="#" class="boton addeventatc" id="addeventatc1" title="" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" translate="no" data-loaded="true"
                                style="visibility: visible;">

                                <span class="nameBtn atc_node notranslate">Agendar</span>

                                <span class="start atc_node notranslate">2024-02-24 21:00:00</span>
                                <span class="end atc_node notranslate">2024-02-24 21:00:00</span>
                                <span class="timezone atc_node notranslate">America/Argentina/Buenos_Aires</span>
                                <span class="title atc_node notranslate">Boda Santillán ❤️ Arévalo (Ceremonia)</span>

                            </a>
                        </div>

                        <div class="info-box">
                            <h6>Dirección</h6>
                            <p>A confirmar</p>
                            <a href="#" data-evento="Ceremonia" class="boton modal-como-llegar">¿Cómo llegar?</a>
                        </div>

                    </div>

                </div>


                <div class=" col-md-6 col-fiesta text-center">

                    <div class="anim-fiesta"></div>

                    <br>

                    <h3>
                        Fiesta </h3>

                    <div class="info-col">

                        <div class="info-box">
                            <h6>Día</h6>
                            <p>Sábado 24 de Febrero - 22:30hs</p>
                            <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Santillan+%F0%9F%92%8D+Arevalo&dates=20240224T223000/20240225T060000&ctz=America/Argentina/Cordoba&details=%0A%0A------%0A%0APowered+by+addevent.com+%0AShare+your+next+event+with+us!%0A&location=Finca+La+Victoria,+puestito+de+san+antonio&pli=1&uid=1705888840addeventcom&sf=true&output=xml" class="boton addeventatc" id="addeventatc2" title="" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" translate="no" data-loaded="true"
                                style="visibility: visible;">
                                <span class="nameBtn atc_node notranslate">Agendar</span>

                                <span class="start atc_node notranslate">2024-02-24 22:30:00</span>
                                <span class="end atc_node notranslate">2024-02-24 22:30:00</span>
                                <span class="timezone atc_node notranslate">America/Argentina/Buenos_Aires</span>
                                <span class="title atc_node notranslate">Boda Santillán ❤️ Arévalo (Fiesta)</span>
                            </a>
                        </div>

                        <div class="info-box">
                            <h6>Lugar</h6>
                            <p>Salón de fiestas "La Victoria"</p>
                            <a href="#" data-evento="Fiesta" class="boton confirmar-asistencia">Confirmar asistencia</a>
                        </div>

                        <div class="info-box">
                            <h6>Dirección</h6>
                            <p>Puestito de San Antonio por caminito Tío Jesús</p>
                            <a href="#" data-evento="Fiesta" class="boton modal-como-llegar">¿Cómo llegar?</a>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </section>

    </section>
    <!-- Fiesta-->
    <section class="fiesta">

        <div class="container">
            <div class="row text-center d-flex justify-content-center align-items-center">



                <div class="col-md-12">
                    <h2 class="title">Fiesta</h2>
                    <p class="subtitle">Hagamos juntos una fiesta inolvidable. Aquí algunos detalles a tener en cuenta.</p>
                    <br>
                    <br>
                </div>

                <!-- Informacion -->
                <div class="col-md-6 item-fiesta">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo03_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo03_A.png">
                        <img class="adorno adorno-1" src="/public/img/flores_Grupo03_A.png" alt="">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo03_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo03_B.png">
                        <img class="adorno adorno-2" src="/public/img/flores_Grupo03_B.png" alt="">
                    </picture>

                    <div
                        class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">

                        <h3>Información</h3>

                        <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
                            <div class="anim-tips"></div>
                        </div>

                        <p>
                            Información sobre el Evento ❤️ </p>

                        <a href="#" class="boton modal-tips">
                            Ver más </a>

                    </div>

                </div>

                <!-- Dress Code -->
                <div class="col-md-6 item-fiesta">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo03_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo03_A.png">
                        <img class="adorno adorno-1" src="/public/img/flores_Grupo03_A.png" alt="">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo03_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo03_B.png">
                        <img class="adorno adorno-2" src="/public/img/flores_Grupo03_B.png" alt="">
                    </picture>

                    <div
                        class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">

                        <h3>Vestimenta</h3>

                        <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
                            <div class="anim-vestuario"></div>
                        </div>

                        <p>
                            Una orientación para <br> tu vestuario </p>

                        <a href="#" class="boton modal-vestuario">
                            Ver más </a>

                    </div>

                </div>


            </div>
        </div>
    </section>
    <!-- Regalos-->
    <section class="regalos">


        <picture>
            <source type="image/webp" srcset="/public/img/flores_Grupo02_A.webp">
            <source type="image/png" srcset="/public/img/flores_Grupo02_A.png">
            <img class="adorno adorno-1 aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
                data-aos-once="false" src="/public/img/flores_Grupo02_A.png" alt="" loading="lazy">
        </picture>


        <picture>
            <source type="image/webp" srcset="/public/img/flores_Grupo02_B.webp">
            <source type="image/png" srcset="/public/img/flores_Grupo02_B.png">
            <img class="adorno adorno-2 aos-init" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000"
                data-aos-once="false" src="/public/img/flores_Grupo02_B.png" alt="" loading="lazy">
        </picture>


        <picture>
            <source type="image/webp" srcset="/public/img/flores_Grupo02_C.webp">
            <source type="image/png" srcset="/public/img/flores_Grupo02_C.png">
            <img class="adorno adorno-3 aos-init" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000"
                data-aos-once="false" src="/public/img/flores_Grupo02_C.png" alt="" loading="lazy">
        </picture>


        <div class="container">
            <div class="row text-center d-flex justify-content-center align-items-center">

                <h2 class="title">Regalos</h2>
                <p class="subtitle">
                    Tu presencia y compañía son un regalo, y es lo que más valoramos en este día tan especial. Sin embargo, si te gustaría contribuir a nuestro proyecto futuro, hemos creado una opción y estaríamos muy agradecidos.
                </p>


                <div class="w-100">

                    <div class="anim-regalos"></div>

                </div>

                <br>

                <a href="#" class="boton modal-regalos">Ver más</a>

            </div>
        </div>
    </section>
    <!-- Instagram-->
    <section class="instagram"
        style="background-image: url(&quot;/public/img/alianzas.jpg&quot;); background-size: cover; background-position: center center;">


        <div class="container">
            <div class="row text-center d-flex justify-content-center align-items-center">

                <h2 class="title">Compartimos este día junto a vos</h2>
                <p class="subtitle">Compartí tus fotos y videos de ese hermoso día</p>

                <div class="w-100">

                    <div class="anim-instagram"></div>

                </div>

                <div class="w-100">

                    <a target="_blank" href="https://www.instagram.com/explore/tags/mjs💍jma/" class="hashtag">#mjs💍jma</a>

                </div>

                <br>

                <a target="_blank" href="https://www.instagram.com/explore/tags/mjs💍jma/" class="boton">Ver en Instagram</a>

            </div>
        </div>
    </section>
    <!-- Footer-->
    <section class="footer">
        <div class="container">

            <div class="row">



                <div class="col-md-12 col-nombres-footer d-flex justify-content-end align-items-center">

                    <h1>
                        Santillán
                        <br class="d-md-none">
                        <span class="icono"><i class="fas fa-heart" style="color: #faf7f3;"></i></span>
                        <br class="d-md-none">
                        Arévalo
                    </h1>

                </div>

            </div>

        </div>
    </section>
    <!-- Firma-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <p>
                        Desarrollado con <span class="heart">🧡</span>
                    </p>

                </div>
            </div>
        </div>
    </footer>


    <!-- Musica -->


    <div id="controlador-musica" onclick="playAudio()">
        <div id="play-pause-music" data-estado-music="pause" class="music-anim-icon"></div>
    </div>

    <div id="player"></div>

    <!-- Modal Informacion-->
    <div id="modalTips" class="modal mi-modal" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content-2">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_A.png" alt=""
                            loading="lazy">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_B.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="img-top-modal d-flex justify-content-center align-items-start">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="white-circle-icon">
                            <img class="" src="/public/img/tips.svg" alt="">
                        </div>


                    </div>


                    <div class="modal-header">

                        <h5 class="modal-title">Información</h5>

                    </div>

                    <div class="modal-body">

                        <h2>Catering🍽️</h2>

                        <p> ◈Recepcion <br>
                            ◈Entrada <br>
                            ◈Plato Fuerte <br>
                            ◈Postre <br>
                            ◈Bebida
                        </p>
                        <h2>Dj en Vivo🎶</h2>

                    </div>


                    <div class="modal-footer"></div>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmar -->
    <div id="modalAsistencia" class="modal mi-modal" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content confirmar-modal">
                <div class="modal-content-2 confirmar-modal-2">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_A.png" alt=""
                            loading="lazy">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_B.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="img-top-modal d-flex justify-content-center align-items-start">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="white-circle-icon">
                            <img class="" src="/public/img/img_circuloCanciones.svg" alt="">
                        </div>

                    </div>

                    <div class="modal-header">

                        <h5 class="modal-title">Confirmar Invitacion</h5>

                    </div>
                    <br>
                    <div class="modal-body">
                        <h2 class="h2-modal">Valor por persona</h2>
                        <p>
                            Adultos: $10.000
                            <br>
                            Menores: Gratis
                        </p>
                        <h2 class="h2-modal text-break">Confirmar presencia haciendo deposito hasta:</h2>
                        <p>
                            8 de Febrero del 2024
                        <h2 class="h2-modal">Datos de la cuenta:</h2>
                        <p class="text-break">
                            CVU: 4530000800010621083649
                            <br>
                            Alias: Mjs.Jma.14
                            <br>
                            CUIT/CUIL: 27417481481
                            <br>
                            Naranja X
                        </p>
                        </p>

                    </div>
                    <br>
                    <div class="modal-footer">
                        <a href="https://forms.gle/gEjZx6RJRSx68tVE6" class="boton" target="_blank">Asistiré 🥳</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal vestuario-->
    <div id="modalRegalos" class="modal mi-modal" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content-2">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_A.png" alt=""
                            loading="lazy">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_B.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="img-top-modal d-flex justify-content-center align-items-start">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="white-circle-icon">
                            <img class="" src="/public/img/img_circuloRegalo.svg" alt="">
                        </div>

                    </div>


                    <div class="modal-body">
                        <p class="text-center p-0 text-break">
                            <b>CVU:</b>
                            0000076500000012070466
                            <br>
                            <b>Alias:</b>
                            Jma.Mjs.14
                            <br>
                            <b>CUIT/CUIL:</b>
                            20401701991
                            <br>
                            PersonalPay
                        </p>
                    </div>

                    <div class="modal-footer">
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal vestuario-->
    <div id="modalVestuario" class="modal mi-modal" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content-2">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_A.png" alt=""
                            loading="lazy">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_B.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="img-top-modal d-flex justify-content-center align-items-start">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="white-circle-icon">
                            <img class="" src="/public/img/vestuario.svg" alt="">
                        </div>


                    </div>



                    <div class="modal-header">

                        <h5 class="modal-title">Vestimenta</h5>

                    </div>

                    <div class="modal-body">

                        <p>Fomal Sport</p>

                    </div>


                    <div class="modal-footer"></div>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal regalos-->
    <div id="modalRegalos" class="modal mi-modal" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content-2">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_A.png" alt=""
                            loading="lazy">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_B.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="img-top-modal d-flex justify-content-center align-items-start">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="white-circle-icon">
                            <img class="" src="/public/img/img_circuloRegalo.svg" alt="">
                        </div>

                    </div>



                    <div class="modal-header">

                        <h5 class="modal-title">Regalos</h5>

                    </div>

                    <div class="modal-body">
                        <p>
                            CVU: 4530000800010621083649
                            <br>
                            Alias: Mjs.Jma.14
                            <br>
                            CUIT/CUIL: 27417481481
                            <br>
                            Naranja X
                        </p>
                    </div>

                    <div class="modal-footer">
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal mapa-->
    <div id="modalMapa" class="modal mi-modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content-2">

                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_A.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_A.png">
                        <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_A.png" alt=""
                            loading="lazy">
                    </picture>


                    <picture>
                        <source type="image/webp" srcset="/public/img/flores_Grupo04_B.webp">
                        <source type="image/png" srcset="/public/img/flores_Grupo04_B.png">
                        <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400"
                            data-aos-duration="1000" data-aos-once="false" src="/public/img/flores_Grupo04_B.png" alt=""
                            loading="lazy">
                    </picture>


                    <div class="img-top-modal d-flex justify-content-center align-items-start">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                    </div>


                    <div class="modal-header">

                        <h5 class="modal-title"></h5>

                    </div>

                    <div class="modal-body">
                        <div id="googleMap">
                            <div style="height: 100%; width: 100%;">
                                <div style="overflow: hidden;"></div>
                            </div>
                        </div>
                    </div>

                    <div class=" modal-footer">
                        <a class="boton ampliar-mapa" target="_blank" href="#">Ampliar mapa</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Muestro el banner si tiene parametro "banner" y si el modelo es visible en la web (para que tenga donde dirigir) -->





    <!-- Scripts -->

    <script>
        var _pathApp = "https://www.fixdate.io/";

        var _pathProducto = "/";

        var tokenProducto = "";

        // Idioma
        var langJs = "es"



        // Idioma js en MODELO e INVITACION
        var langJsVariante = "es-AR";






        // Cuenta regresiva
        var fechaCuentaRegresiva = "02/24/2024 22:30:00";



    </script>


    <!-- Idioma por defecto js -->
    <script>
        var langDefault = 'es-AR';
    </script>



    <!-- // Consulto tipo de dispositivo -->
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

            var device = 'mobile';
        } else {
            var device = 'desktop';
        }
    </script>




    <!-- Funciones y varialbes globales -->
    <script>
        // Funcion para validar formato url
        function is_url(str) {
            regexp = /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
            if (regexp.test(str)) {
                return true;
            } else {
                return false;
            }
        }
    </script>



    <!-- Lottie -->
    <script src="/public/js/lottie_svg.min.js"></script>
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
    <!-- <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script> -->



    <!-- Animacion loader -->
    <script>
        let svgContainerLoader = document.querySelector('.loader');

        let animLoader = bodymovin.loadAnimation({
            wrapper: svgContainerLoader,
            animType: 'svg',
            loop: true,
            path: "/public/img/corazon.json"
        });
    </script>



    <!-- Soporte WEBP -->
    <script>
        function support_format_webp() {
            var elem = document.createElement('canvas');

            if (!!(elem.getContext && elem.getContext('2d'))) {
                // was able or not to get WebP representation
                return elem.toDataURL('image/webp').indexOf('data:image/webp') == 0;
            } else {
                // very old browser like IE 8, canvas not supported
                return false;
            }
        }
    </script>



    <!-- Listado de js con version dinamica segun modificacion de archivo -->
    <script type="text/javascript" src="/public/js/langs/es-AR.js"></script>
    <script type="text/javascript" src="/public/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/public/js/waypoints/noframework.waypoints.min.js"></script>
    <script type="text/javascript" src="/public/js/parallax.min.js"></script>
    <script type="text/javascript" src="/public/js/popper.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/slick.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/public/js/aos.js"></script>


    <!-- Loader -->
    <script>
        var prealoaderOption = $(window);

        prealoaderOption.on("load", function () {

            var preloader = $('.loader');
            var preloaderArea = $('.preloader-area');

            preloader.fadeOut(500);
            preloaderArea.delay(100).fadeOut(500);

            // Detengo animacion loader
            animLoader.destroy();

            // Cargo animacion AOS
            setTimeout(function () {
                AOS.init();
            }, 100);

        });
    </script>

    <!-- Modal musica inicio -->

    <script>

        function playAudio() {
            var audio = document.getElementById('musicMP3');
            var icon = document.getElementById('play-pause-music');

            if (audio.paused) {
                audio.play();
                animMusicAnimIcon.play();
            } else {
                audio.pause();
                animMusicAnimIcon.pause();
            }

        }
    </script>

    <!-- Animaciones de diseño -->
    <script>
        let svgContainerMusicAnimIcon = document.querySelector('.music-anim-icon');

        let animMusicAnimIcon = bodymovin.loadAnimation({
            wrapper: svgContainerMusicAnimIcon,
            animType: 'svg',
            autoplay: false,
            loop: true,
            path: "/public/img/music-player-icon.json"

        });
    </script>





    <!-- Animacion corazon seccion cuenta regresiva-->
    <script>
        let svgContainerCorazonFalta = document.querySelector('.corazon-falta');

        let animCorazonFalta = bodymovin.loadAnimation({
            wrapper: svgContainerCorazonFalta,
            animType: 'svg',
            loop: true,
            path: "/public/img/corazon-falta.json"
        });
    </script>



    <!-- Animacion anillos -->
    <script>
        let svgContainerAnillos = document.querySelector('.anim-anillos');

        let animAnillos = bodymovin.loadAnimation({
            wrapper: svgContainerAnillos,
            animType: 'svg',
            loop: true,
            path: "/public/img/img_ceremonia.json",
            rendererSettings: {
                clearCanvas: true,  // Intenta añadir esta propiedad
            }
        });

        animAnillos.play();
    </script>


    <!-- Animacion galeria -->
    <script>
        let svgContainerGaleria = document.querySelector('.anim-galeria');

        let animGaleria = bodymovin.loadAnimation({
            wrapper: svgContainerGaleria,
            animType: 'svg',
            loop: true,
            path: "/public/img/json_camara.json"
        });

        animGaleria.play();
    </script>


    <!-- Animacion Musica -->
    <script>
        let svgContainerMusica = document.querySelector('.anim-musica');

        let animMusica = bodymovin.loadAnimation({
            wrapper: svgContainerMusica,
            animType: 'svg',
            loop: true,
            path: "/public/img/img_musica.json"
        });

        animMusica.play();
    </script>



    <!-- Animacion Vestuario -->
    <script>
        let svgContainerVestuario = document.querySelector('.anim-vestuario');

        let animVestuario = bodymovin.loadAnimation({
            wrapper: svgContainerVestuario,
            animType: 'svg',
            loop: true,
            path: "/public/img/vestuario.json"
        });

        animVestuario.play();
    </script>


    <!-- Animacion Tips -->
    <script>
        let svgContainerTips = document.querySelector('.anim-tips');

        let animTips = bodymovin.loadAnimation({
            wrapper: svgContainerTips,
            animType: 'svg',
            loop: true,
            path: "/public/img/tips.json"
        });

        animTips.play();
    </script>


    <!-- Animacion canciones -->
    <script>
        let svgContainerFiesta = document.querySelector('.anim-fiesta');

        let animFiesta = bodymovin.loadAnimation({
            wrapper: svgContainerFiesta,
            animType: 'svg',
            loop: true,
            path: "/public/img/img_fiesta.json"
        });

        animFiesta.play();
    </script>


    <!-- Animacion regalos -->
    <script>
        let svgContainerRegalos = document.querySelector('.anim-regalos');

        let animRegalos = bodymovin.loadAnimation({
            wrapper: svgContainerRegalos,
            animType: 'svg',
            loop: true,
            path: "/public/img/img_regalo.json"
        });

        animRegalos.play();
    </script>



    <!-- Animacion instagram -->
    <script>
        let svgContainerInstagram = document.querySelector('.anim-instagram');

        let animInstagram = bodymovin.loadAnimation({
            wrapper: svgContainerInstagram,
            animType: 'svg',
            loop: true,
            path: "/public/img/img_instagram.json"
        });

        animInstagram.play();
    </script>



    <!-- Modal Confirmar asistencia -->
    <script>
        // Abrir modal
        $('body').on('click', 'a.confirmar-asistencia', function (e) {

            e.preventDefault();

            // Remuevo mensajes de error anteriores
            $("#error-form").remove();

            var evento = $(this).attr('data-evento');

            if (evento == 'Fiesta') {
                var titleModalAsistencia = lang_titleModalAsistenciaFiesta;
            }

            if (evento == 'Ceremonia') {
                var titleModalAsistencia = lang_titleModalAsistenciaCeremonia;
            }

            $('#modalAsistencia .modal-title').text(titleModalAsistencia);


            $('#modalAsistencia').modal({
                backdrop: 'static'
            })

        });



    </script>


    <!-- Cuenta regresiva -->
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date(fechaCuentaRegresiva).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            // document.getElementById("reloj").innerHTML = days + " días " + hours + "hs " +
            //   minutes + "m " + seconds + "s ";

            $("#dias .number").text(days);
            $("#horas .number").text(hours);
            $("#minutos .number").text(minutes);
            $("#segundos .number").text(seconds);



            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("reloj").innerHTML = '<p class="fin-cuenta">' +
                    lang_textoFinalCuentaRegresiva + '</p>';
                $('.falta').text('');
            }
        }, 1000);
    </script>


    <!-- Modal Vestuario -->
    <script>
        // Abrir modal
        $('body').on('click', 'a.modal-vestuario', function (e) {

            e.preventDefault();

            $('#modalVestuario').modal({
                backdrop: 'static'
            })

        });
    </script>

    <!-- Modal Tips -->
    <script>
        // Abrir modal
        $('body').on('click', 'a.modal-tips', function (e) {

            e.preventDefault();

            $('#modalTips').modal({
                backdrop: 'static'
            })

        });
    </script>


    <!-- Modal regalos -->
    <script>
        // Abrir modal
        $('body').on('click', 'a.modal-regalos', function (e) {

            e.preventDefault();

            $('#modalRegalos').modal({
                backdrop: 'static'
            })

        });
    </script>



    <!-- Modal como llegar -->
    <script>
        // Abrir modal
        $('body').on('click', 'a.modal-como-llegar', function (e) {

            e.preventDefault();

            var evento = $(this).attr('data-evento');

            if (evento == 'Fiesta') {
                $('#modalMapa .modal-title').text('Fiesta "Victoria Eventos" ');

                $('#modalMapa .modal-body').html('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1247.1276455978063!2d-64.25525173235953!3d-27.858683562619227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943b4d55941df0f7%3A0xfb9d810e86804d94!2sFinca!5e0!3m2!1ses!2sar!4v1705420546663!5m2!1ses!2sar" width="80%" height="50%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>');

                $('.ampliar-mapa').attr('href', 'https://www.google.com/maps/place/Finca,+Zanj%C3%B3n,+Santiago+del+Estero/@-27.858576,-64.254579,16z/data=!4m6!3m5!1s0x943b4d55941df0f7:0xfb9d810e86804d94!8m2!3d-27.858576!4d-64.2545791!16s%2Fg%2F11l752w5xq?hl=es&gl=AR');
            }

            if (evento == 'Ceremonia') {
                $('#modalMapa .modal-title').text('Ceremonia');

                $('#modalMapa .modal-body').html('');

                $('.ampliar-mapa').attr('href', '');
            }

            $('#modalMapa').modal({
                backdrop: 'static'
            })

        });
    </script>



    <!-- Instagram parallax -->
    <script>
        // Si el ancho es de Telefono
        if ($(window).width() < 768) {

            // Aceptar webp?
            if (support_format_webp()) {
                var imageInstagramParallax = '/public/img/alianzas.jpg';
            } else {
                var imageInstagramParallax = '/public/img/alianzas.jpg';
            }

        } else {

            // Aceptar webp?
            if (support_format_webp()) {
                var imageInstagramParallax = '/public/img/alianzas.jpg';
            } else {
                var imageInstagramParallax = '/public/img/alianzas.jpg';
            }

        }

        $('.instagram').parallax({
            imageSrc: imageInstagramParallax
        });
    </script>


</body>

</html>